<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
    <link rel="stylesheet" type="text/css" href="../static/style-update.css">
</head>
<body>
<div th:switch="${clients}">
    <h2 th:case="null">No client found!</h2>
    <div th:case="*">
        <h2>Список клиентов:</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Contact</th>
                <th>Date of birth</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="client : ${clients}">
                <td th:text="${client.id}"></td>
                <td th:text="${client.firstName}"></td>
                <td th:text="${client.lastName}"></td>
                <td th:text="${client.contact}"></td>
                <td th:text="${client.dob}"></td>
                <td><a th:href="@{/clients/update-view/{id}(id=${client.id})}">Edit</a></td>
                <td><a th:href="@{/clients/delete-action/{id}(id=${client.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="clients/create-view">Create client</a></p>
</div>
</body>
</html>