<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create service  &ndash; BeautySalon </title>
</head>
<body>
<h1>Service create</h1>
<form action="#" th:action="@{create-action}" th:object="${service}" method="post">
    <label for="title">Title</label>
    <input type="text" th:field="*{title}" id="title" placeholder="Title"><br>
    <label for="price">Price</label>
    <input type="text" th:field="*{price}" id="price" placeholder="Price"><br>
    <label for="duration">Duration</label>
    <input type="text" th:field="*{duration}" id="duration" placeholder="Duration"><br>
    <label for="description">Description</label>
    <input type="text" th:field="*{description}" id="description" placeholder="Description"> <br/>
    <label for="consumables">Consumables</label>
    <select th:field="*{consumables}" multiple id="consumables">
        <option th:each="item : ${consumables}" th:value="${item}" th:text="${item}"></option>
    </select>
    <button type="submit">Create</button>
</form>
</body>
</html>