<div class="card my-3 ">
  <div class="container">
    <div class="row ">
<!--      <div class="col-md-12">-->
        <!--        <div class="card bg-dark my-5">-->
                  <div class="card-body">
        <h2 class="card-title text-center text-black py-0">Clients</h2>
        <ul class="text-center list-inline py-3">
          <li class="list-inline-item">
            <div class="btn-group">
              <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Search client
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/clients">By Name</a>
                <a class="dropdown-item" routerLink="/clients">By Phone</a>
              </div>
            </div>
          </li>
          <li class="list-inline-item">
            <a routerLink="/clients/create" class="btn btn-info">Add Client</a>
          </li>
        </ul>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
  <!--    </div>-->
  <!--  </div>-->
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Last name</th>
        <th scope="col">Contact</th>
        <th scope="col">DOB</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let client of clients">
        <td>{{ client.id }}</td>
        <td>{{ client.firstName }}</td>
        <td>{{ client.lastName }}</td>
        <td>{{ client.contact }}</td>
        <td>{{ client.dob }}</td>
        <td>
          <button [routerLink]="['/clients/update', client.id]" class="btn btn-secondary">Edit</button>
        </td>
        <td>
          <button class="btn btn-dark" (click)="deleteClient(client)">X</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


