<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Last name</th>
        <th scope="col">Contact</th>
        <th scope="col">DOB</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let client of clients">
        <td>{{ client.id }}</td>
        <td>{{ client.firstName }}</td>
        <td>{{ client.lastName }}</td>
        <td>{{ client.contact }}</td>
        <td>{{ client.dob }}</td>
        <td>
          <button routerLink="/clients/update/{id}" class="btn btn-secondary">Edit</button>
        </td>
        <td>
          <button routerLink="/clients/delete/{id}" class="btn btn-dark" (click)="deleteClient(client)">X</button>
        </td>
        <!--        <td><a href="mailto:{{ client.email }}">{{ client.email }}</a></td>-->
      </tr>
      </tbody>
    </table>
  </div>
</div>
