<div class="card my-3">
  <div class="container">
    <div class="row">
      <!--      <div class="col-md-12">-->
      <!--        <div class="card bg-dark my-5">-->
      <div class="card-body">
        <h2 class="card-title text-center text-black py-0">Services</h2>
        <ul class="text-center list-inline py-3">
          <li class="list-inline-item">
            <div class="btn-group">
              <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                Search service
              </button>
              <div class="dropdown-menu w-auto">
                <form (ngSubmit)="searchByTitle(searchByTitleInput.value)" class="px-3 py-3">

                  <div class="mb-3">
                    <label for="search-by-title" class="form-label">По названию</label>
                    <input type="text" class="form-control" id="search-by-title" #searchByTitleInput
                           placeholder="Введите название">
                  </div>
                  <button type="submit" class="btn btn-primary ">Search</button>
                  <div class="mb-3">
                    <label for="search-by-description" class="form-label mt-3">По описанию</label>
                    <input type="text" class="form-control" style="width: auto;" id="search-by-description"
                           #searchByDescriptionInput placeholder="Введите описание услуги">
                  </div>
                  <button type="button" class="btn btn-primary"
                          (click)="searchByDescription(searchByDescriptionInput.value)">
                    Search
                  </button>
                </form>
              </div>
            </div>
          </li>
          <li class="list-inline-item">
            <a routerLink="/services/create" class="btn btn-info">Add Service</a>
          </li>
        </ul>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
  <!--    </div>-->
  <!--  </div>-->
  <div class="card-body">
    <table class="table table-bordered table-striped text-center align-middle" >
      <thead class="thead-dark">
      <tr>
        <!--        <th scope="col">#</th>-->
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Duration</th>
        <th scope="col">Description</th>
        <th scope="col">Consumables</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr class="head text-center" *ngFor="let service of services">
        <!--        <td>{{ service.id }}</td>-->
        <td>{{ service.title }}</td>
        <td>{{ service.price }}</td>
        <td>{{ service.serviceDurationInMinutes }}</td>
        <td>{{ service.description }}</td>
        <td>
          <ul>
            <li *ngFor="let item of service.consumables"> {{ item.title }}</li>
          </ul>
        </td>
        <td>
          <button [routerLink]="['/services/update', service.id]" class="btn btn-warning">Edit</button>
        </td>
        <td>
          <button class="btn btn-danger" (click)="deleteService(service)">X</button>
        </td>
      </tr>
      </tbody>
    </table>
<!--    <a routerLink="/services" class="btn btn-info m-2" >Back</a>-->
    <a [hidden]="!isSearching" (click)="resetSearch()" class="btn btn-info m-2">Drop search result</a>
  </div>
</div>


