<div class="container-fluid" xmlns:float="http://www.w3.org/1999/xhtml">
  <!-- Хедер -->
  <header class="row bg-dark p-1">

    <div class="col-md-12">
      <h1 class="text-white text-center pt-3 ">Beauty Salon</h1>
      <div class="buttons">
        <!--        <li>-->
        <div class="text-white" *ngIf="logged">Welcome, {{ username }}!

          <button [hidden]="!logged" type="button" (click)="authService.logout()"
                  class="btn btn-outline-light m-1 btn-sm">Logout
          </button>
        </div>
        <button [hidden]="logged" type="button" routerLink="login"
                class="btn btn-outline-light m-1 btn-sm">Login
        </button>
        <button [hidden]="logged" type="button" routerLink="registration"
                class="btn btn-outline-light mr-2 btn-sm"> Registration
        </button>
      </div>
    </div>

  </header>
  <div class="row">
    <div class="col-md-2 bg-dark p-6">
      <!-- Нижняя часть (боковое меню) -->
      <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark text-center" style="width: 200px;">
        <!-- Ваше боковое меню -->
        <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark " style="width: auto;">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi pe-none me-2" width="40" height="32">
              <use xlink:href="#bootstrap"></use>
            </svg>
            <h6 class="fs-4 ">Main menu</h6>
          </a>
          <hr>
          <ul class="nav nav-pills flex-column mb-auto">
            <li>
              <a routerLink="/staff" class="btn">
                Staff
              </a>
            </li>
            <li>
              <a routerLink="/clients" class="btn">
                Clients
              </a>
            </li>
            <li>
              <a routerLink="/storage" class="btn">
                Storage
              </a>
            </li>
            <li>
              <a routerLink="/services" class="btn">
                Services
              </a>
            </li>
            <li>
              <a routerLink="/visits" class="btn">
                Appointment
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-10 ">
      <div id="opacity">
        <!--  <div id="background" [ngStyle]="{backgroundImage:'url('+ image +')'}">-->
        <router-outlet></router-outlet>
      </div>
    </div>

    <!-- Футер -->
    <footer class="row bg-dark py-1 mt-1 footer fixed-bottom">
      <div class="col-md-12">
        <img class="footimage m-2" src="favicon.ico" alt="salon.img">
        <span class="text-white p-1">Footer Content</span>
      </div>
    </footer>
  </div>
</div>



