<div class="container-fluid">
  <!-- Хедер -->
  <header class="opacity-25 row bg-dark py-3">
    <div class="col-md-12">
      <h1 class="text-white text-center">Beauty Salon</h1>
    </div>

  </header>

  <div class="row">
    <div class="col-md-2">
      <!-- Нижняя часть (боковое меню) -->
      <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
        <!-- Ваше боковое меню -->
        <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi pe-none me-2" width="40" height="32">
              <use xlink:href="#bootstrap"></use>
            </svg>
            <span class="fs-4">Sidebar</span>
          </a>
          <hr>
          <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
              <a href="#" class="nav-link active" aria-current="page">
                <svg class="bi pe-none me-2" width="16" height="16">
                  <use xlink:href="#home"></use>
                </svg>
                Home
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-black">
                <svg class="bi pe-none me-2" width="16" height="16">
                  <use xlink:href="#speedometer2"></use>
                </svg>
                Staff
              </a>
            </li>
            <li>
              <a routerLink="/clients" class="btn">
                <svg class="bi pe-none me-2" width="16" height="16">
                  <use xlink:href="#table"></use>
                </svg>
                Clients
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-info">
                <svg class="bi pe-none me-2" width="16" height="16">
                  <use xlink:href="#grid"></use>
                </svg>
                Storage
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-red">
                <svg class="bi pe-none me-2" width="16" height="16">
                  <use xlink:href="#people-circle"></use>
                </svg>
                Services
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-red">
                <svg class="bi pe-none me-2" width="16" height="16">
                  <use xlink:href="#people-circle"></use>
                </svg>
                Appointment
              </a>
            </li>
          </ul>
          <hr>
<!--          <div class="dropdown">-->
<!--            <a href="#" class="d-flex align-items-center text-warning text-decoration-none dropdown-toggle"-->
<!--               data-bs-toggle="dropdown" aria-expanded="false">-->
<!--              <strong>mdo</strong>-->
<!--            </a>-->
<!--            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">-->
<!--              <li><a class="dropdown-item" href="#">New project...</a></li>-->
<!--              <li><a class="dropdown-item" href="#">Settings</a></li>-->
<!--              <li><a class="dropdown-item" href="#">Profile</a></li>-->
<!--              <li>-->
<!--                <hr class="dropdown-divider">-->
<!--              </li>-->
<!--              <li><a class="dropdown-item" href="#">Sign out</a></li>-->
<!--            </ul>-->
<!--          </div>-->
        </div>
      </div>
    </div>
    <div class="col-md-10 ">
      <router-outlet></router-outlet>
    </div>
  </div>

  <!-- Футер -->
  <footer class="row bg-secondary py-3 mt-5 footer fixed-bottom">
    <div class="col-md-12">
      <p class="text-white text-center">Footer Content</p>
    </div>
  </footer>
</div>




