<div class="container-fluid">
  <!-- Хедер -->
  <header class="opacity-25 row bg-dark py-3">
    <div class="col-md-12">
      <h1 class="text-white text-center">Beauty Salon</h1>
    </div>

  </header>

  <div class="row">
    <div class="col-md-2 bg-dark height: height: calc(100vh - headerHeight - footerHeight">
      <!-- Нижняя часть (боковое меню) -->
      <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark text-center" style="width: 200px;">
        <!-- Ваше боковое меню -->
        <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark " style="width: auto;">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi pe-none me-2" width="40" height="32">
              <use xlink:href="#bootstrap"></use>
            </svg>
            <h6 class="fs-4 ">Main menu</h6>
          </a>
          <hr>
          <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
              <a href="#" class="nav-link " aria-current="page">
                Home
              </a>
            </li>
            <li>
              <a routerLink="/staff" class="btn">
                Staff
              </a>
            </li>
            <li>
              <a routerLink="/clients" class="btn">
                Clients
              </a>
            </li>
            <li>
              <a routerLink="/storage" class="btn">
                Storage
              </a>
            </li>
            <li>
              <a routerLink="/services" class="btn">
                Services
              </a>
            </li>
            <li>
              <a routerLink="/visits" class="btn">
                Appointment
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-10 ">
      <router-outlet></router-outlet>
    </div>
  </div>

  <!-- Футер -->
  <footer class="row bg-secondary py-3 mt-5 footer fixed-bottom">
    <div class="col-md-12">
      <p class="text-white text-center">Footer Content</p>
    </div>
  </footer>
</div>




