<div class="card my-5">
  <div class="card-body">
    <h3 [hidden]="edit">Add consumable:</h3>
    <h3 [hidden]="!edit">Edit consumable:</h3>
    <form (ngSubmit)="onSubmit()" #consumableForm="ngForm">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" [(ngModel)]="consumable.title"
               class="form-control"
               id="title"
               name="title"
               placeholder="Enter consumable title"
               required #title="ngModel">    <!--заполнение поля обязательно-->
      </div>
      <div [hidden]="!title.pristine" class="alert alert-danger">Title is required
        <!--вывод поля-сообщения при незаполненном основном-->
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        <input type="text" [(ngModel)]="consumable.price"
               class="form-control"
               id="price"
               name="price"
               placeholder="Enter consumable price"
               required #price="ngModel">
      </div>
      <div [hidden]="!price.pristine" class="alert alert-danger">Price is required</div>

      <div class="form-group">
        <label for="unit">Units</label>
        <select [(ngModel)]="consumable.unit" id="unit" name="unit" class="form-control">
          <option *ngFor="let unit of unitValues" [ngValue]="unit">{{ unit }}</option>
        </select>
      </div>

      <button type="submit" class="btn btn-dark btn-sm">Submit</button>
      <a routerLink="/storage" class="btn btn-dark btn-sm m-2">Back</a>
    </form>
  </div>
</div>
