<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
</head>
<body>
<h2>Registered Users:</h2>


<table>
    <tr>
        <th>USER NAME</th>
        <th>EMAIL</th>
    </tr>
    <tr th:each="u: ${users}" >
        <td th:text="${u.name}"></td>
        <td th:text="${u.email}"></td>
    </tr>
</table>
<h1>Registration Form</h1>
<h2>Add a user:</h2>
<form action="/task3" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br>

    <button type="submit">Register</button>
</form>
</body>
</html>