p { /*селектор по тегу (параграф)*/
    color: blue;
}

body { /*селектор по тегу (все тело)*/
    background-color: lightblue;
}

h1 { /*селектор по тегу (заголовок h1)*/
    color: navy;
    font-family: 'Arial', sans-serif;
}

a { /*селектор по тегу (ссылка)*/
    color: yellow;
}

.paragraph { /*селектор по классу*/
    color: green;
    font-size: 30px;
}

#heading { /*селектор по id*/
    font-size: 50px;
}

a[href="https://google.com"] { /*селектор по атрибутам*/
    color: aqua;
    font-size: 25px;
}

.container p { /*контекстый селектор*/
    background: black;
}

.container > p { /*дочерний селектор. непосредственно на дочерние элементы*/
    font-style: italic;
    text-decoration: line-through;
}

#heading + span /*сестринский(выбор соседнего элемента) селектор (к заголовоку по #id)*/
{
    color: brown;
    font-size: 20px;
}

a:hover { /*селектор псевдо класса (здесь при наведении на ссылку)*/
    text-decoration: none; /* active, visited*/
}

h1::first-letter { /*селектор псевдо элемента (первая буква у заголовка)*/
    color: grey;
}