html, body {
    background-color: #f0f0f0; /* светло-серый */
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}
time{
    width: 10px;
}
/* Дополнительные стили для модальных окон и кнопок */
.modal-header {
    border-bottom: none;
}
.modal-footer {
    border-top: none;
}
/* Стили для ячеек таблицы */
tbody td {
    background-color: #f8f9fa; /* Цвет фона */
    cursor: pointer; /* Курсор при наведении */
}
tbody td:hover {
    background-color: #e9ecef; /* Цвет фона при наведении */
}
/* Стили для поля ввода даты */
#datepicker.custom-datepicker {
    width: 70px !important; /* Уменьшаем ширину поля */
}
