<div class="card my-5">
  <div class="card-body">
    <h3 [hidden]="isEdit">Add consumable:</h3>
    <h3 [hidden]="!isEdit">Edit consumable:</h3>
    <form (ngSubmit)="onSubmit()" #serviceForm="ngForm">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" [(ngModel)]="service.title"
               class="form-control"
               id="title"
               name="name"
               placeholder="Enter service title"
               required #title="ngModel">    <!--заполнение поля обязательно-->
      </div>
      <div [hidden]="!title.pristine" class="alert alert-danger">Title is required</div>
      <!--вывод поля-сообщения при незаполненном основном-->

      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" [(ngModel)]="service.price"
               class="form-control"
               id="price"
               name="price"
               placeholder="Enter service price"
               required #price="ngModel">
        <div [hidden]="!price.pristine" class="alert alert-danger">Price is required</div>
      </div>

      <div class="form-group">
        <label for="duration">Duration</label>
        <input type="number" [(ngModel)]="service.serviceDurationInMinutes"
               class="form-control"
               id="duration"
               name="duration"
               placeholder="Enter service duration"
               required #duration="ngModel">
        <div [hidden]="!duration.pristine" class="alert alert-danger">Duration is required</div>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" [(ngModel)]="service.description"
               class="form-control"
               id="description"
               name="description"
               placeholder="Enter service description"
               required #description="ngModel">
        <div [hidden]="!description.pristine" class="alert alert-danger">Description is required</div>
      </div>

      <div class="form-group">
        <label for="consumables">Choose Consumables:</label>
        <select [(ngModel)]="selectedConsumables" multiple id="consumables" class="form-control" required>
          <option value="" disabled selected>Choose...</option>
          <option *ngFor="let item of consumables" [ngValue]="item.title">{{ item.title }}</option>
        </select>
<!--        <div *ngIf="!selectedConsumables && !consumables" class="text-danger">Please select at least one consumable</div>  оставить если выбор обязателен-->
        <div [hidden]="!consumables.pristine" class="alert alert-danger">Consumables is required</div>
      </div>

      <button type="submit"
              class="btn btn-info" [disabled]="!serviceForm.form.valid">Submit
        <!-- кнопка активнва если поля формы заполнены       -->
      </button>
      <a routerLink="/services" class="btn btn-info m-2">Back</a>
    </form>
  </div>
</div>
