<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Сlients</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<h1>Список клиентов: </h1>
<div>
    <table>
        <tr>
            <th>Имя: </th>
            <th>Фамилия: </th>
            <th>Номер телефона: </th>
        </tr>
        <tr th:each="c: ${clients}">
            <td th:text="${c.firstName}"></td>
            <td th:text="${lastName}"></td>
            <td th:text="${contact}"></td>
        </tr>
    </table>
</div>

<div class="reg-form">
    <h1>Registration Form</h1>
    <h2>Add a user:</h2>
    <form action="/task3" method="post">
        <label for="name">Имя:</label>
        <input type="text" id="name" name="name" required placeholder="Имя">

        <label for="lastname">Фамилия:</label>
        <input type="text" id="lastname" name="lastname" placeholder="Фамилия">

        <label for="phone">Телефон:</label>
        <input type="number" id="phone" name="телефон" required placeholder="Номер телефона начиная с +7"><br>

        <button type="submit">Добавить</button>
    </form>
</div>
</body>
</html>